.contacts {
  padding-top: 17px;
  padding-bottom: 39px;
}

.contacts__content-wrapper {
  padding-top: 4px;
  padding-bottom: 7px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__list {
  margin: 25px auto 0;
  max-width: 300px;
  line-height: 30px;
}

.contacts__list-term {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  max-width: 48px;
  word-wrap: break-word;
}

.contacts__list-description {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-bottom: 30px;
}

.contacts__map {
  margin-bottom: 39px;
}
