.site-navigation {
  .list-reset();

  font-size: 17px;
  font-weight: 700;
}

.site-navigation__item {
  .ps-drop-shadow(@bg-color-separate; 100%; 90deg; 1px);
}

.site-navigation__link {
  display: block;
  padding: 27px 30px 28px 74px;
  color: @font-color-menu;

  &[href]:hover {
    color: @font-color-menu--hover;
  }

  &[href]:active {
    color: @font-color-menu--active;
  }
}
